$preset: #e91e63;

.faq-section {
  .accordion-btn {
    padding: 0;
    border: 0;
    color: #777;
    font-size: 14px;

    &:hover,
    &:focus {
      color: $preset;
      text-decoration: none;
    }

    > i {
      display: inline-block;
      margin-right: 5px;
      transition: transform 0.1s linear;
    }

    &[aria-expanded='true'] {
      > i {
        transform: rotate(90deg);
      }
    }
  }

  .card-body {
    font-size: 14px;
  }
}
