.app-hero {
  position: relative;
  min-height: 450px;
  margin-bottom: 0;
  background-image: url('./images/product-school-dJICd7b_LlE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include responsive($screen-mobile) {
    min-height: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#370767, 0.8);
  }

  &-content {
    position: relative;
    z-index: 1;
    margin: auto;
    color: white;
    text-align: center;
    padding: 5em 0;

    @include responsive($screen-mobile) {
      padding: 3em 0 2em;

      .display-4 {
        font-size: 3rem;
      }
    }

    .lead {
      margin-bottom: 3em;
    }
  }
}
