$preset: #e91e63;

.newsletter-section {
  background: #f2f2f2;
}

.subscribe-inner {
  padding: 50px 0;
  text-align: center;

  .subscribe-title {
    margin-bottom: 30px;

    @include responsive($screen-mobile) {
      font-size: 24px;
    }
  }

  p {
    color: #888;
    margin-bottom: 30px;
  }
}

.subscribe-form {
  .subscribe-btn {
    min-width: 12em;
    margin: 0;
    padding: 16px 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    i {
      margin-right: 5px;
    }
  }

  .form-control {
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    height: 55px;
    width: 90%;
    font-size: 14px;

    &:focus {
      color: #212121;
      background-color: #fff;
      border-color: $preset;
      outline: 0;
    }
  }
}
