// Font Family
@import url('https://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:700');

html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #212121;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  transition: all 0.2s linear;

  &:hover {
    text-decoration: none;
  }
}

p {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 14px;
}

ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.section-title-header {
  p {
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
  }
}

.section-title {
  font-size: 36px;
  color: #212121;
  line-height: 52px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;

  @include responsive($screen-mobile) {
    font-size: 24px;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 50%;
    width: 48px;
    height: 1px;
    background-color: $preset;
  }

  &:before {
    bottom: 8px;
    margin-left: -45px;
  }

  &:after {
    bottom: 2px;
    margin-left: -30px;
  }
}

.section-subtitle {
  font-size: 40px;
  color: #212121;
  text-transform: uppercase;

  @include responsive($screen-mobile) {
    font-size: 32px;
  }
}

// Bootstrap Button Core
.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  z-index: 1;
  display: inline-block;
  position: relative;
  background-color: $preset;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 4px;
  transition: all 0.2s linear;
  color: #fff;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    color: #fff;
    background: #f50057;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }

  i {
    margin-right: 5px;
  }
}

.btn-lg {
  padding: 12px 34px;
  text-transform: uppercase;
  font-size: 14px;
}

// Helper Classes
.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.section-padding {
  padding: 60px 0;

  @include responsive($screen-mobile) {
    padding: 30px 0;
  }
}
